*.hi
*.o
*.png
*.svg
dist/
reports/
result
.ghc*
dist-newstyle/
.direnv/
cabal.sandbox.config
.cabal-sandbox
*.prof
*.aux
*.eventlog
*.hp
*.ps
*.dot
*.pdf
*.log
rates.json
transactions.json
report.html
report.trace
